<header class="site-header">
  <a href="/" class="title">
    Will Richardson
  </a>
  <p>
    <a class="button" href="https://willhbr.net/me">About</a> /
    <a class="button" href="https://willhbr.net">Blog</a> /
    <a class="button" rel="me" href="https://pixelfed.nz/willhbr">PixelFed</a> /
    <a class="button" target=_blank rel="me" href="https://ruby.social/@willhbr">Mastodon</a>
    <a class="button" id="theme-reset" onclick="localStorage.removeItem('theme-toggle'); this.style.display = 'none'; setTheme()">Reset light/dark</a>
  </p>
</header>
