<div class="photo-container">
  <div class="image">
    {% if post.blurhash %}
      <img src="{{ "/photos/" | append: post.image | absoluteurl }}"
        onload="document.getElementById('hash-{{ post.image }}').remove()">
      <img class="blurhash" data-hash="{{ post.blurhash }}" id="hash-{{ post.image }}">
    {% else %}
      <img src="{{ "/photos/" | append: post.image | absoluteurl }}">
    {% endif %}
  </div>
</div>

<div class="description">
  <div class="photo-info">
    <p class="date">{{ post.date | date: "%B %-d, %Y" }}</p>
    {% if post.location != null %}
      <p class="location">&#x1F4CD; {{ post.location }}</p>
    {% endif %}
  </div>

  {{ post.content }}

  <div class="controls">
    {% if post.next.url %}
      <a class="button" href="{{ post.next.url | absoluteurl }}">Next</a>
    {% endif %}
      <a class="button" class="back-control" href="{{ site.baseurl | absolute_url }}">Home</a>
    {% if post.previous.url %}
      <a class="button" href="{{ post.previous.url | absoluteurl }}">Previous</a>
    {% endif %}
  </div>
</div>
