<div class="photo-container">
  <div class="image">
    <img src="{{ "/photos/" | append: post.image | absoluteurl }}">
  </div>
</div>

<div class="description">
  <div class="photo-info">
    <p class="date">{{ post.date | date: "%B %-d, %Y" }}</p>
    {% if post.location != null %}
      <p class="location">&#x1F4CD; {{ post.location }}</p>
    {% endif %}
    {% if post.metadata != null %}
      <p class="metadata">&#x1F4F7; {{ post.metadata }}</p>
    {% endif %}
  </div>

  {{ post.content }}

  {% if post.next.url %}
    <a href="{{ post.next.url | absoluteurl }}">Next</a>
  {% endif %}
  <a class="back-control" href="{{ site.baseurl | absolute_url }}">Home</span>
  {% if post.previous.url %}
    <a href="{{ post.previous.url | absoluteurl }}">Previous</a>
  {% endif %}
</div>
